/*-- scss:defaults --*/

$primary: #0099FF !default;
$secondary: #FF0000 !default;
$font-size-root: 1.2rem;
$font-family-sans-serif: "Luciole";
$font-family-monospace: "Fira Code";
$callout-icon-scale: -10% !default;

:root {
  --primary: #{$primary};
  --primary-back: color-mix(in srgb, var(--primary), white 95%);
  --primary-dark: color-mix(in srgb, var(--primary), black 50%);
  --neutral: #555;
  --line-color: color-mix(in srgb, var(--primary), white 90%);
  --em-background-color: #f8f8f8;
  --code-foreground-color: #ffffff;
  --code-background-color: #291334ff;
  --code-comment-color: #9827d1ff;
  --callout-note-color: #0099FF;
  --callout-tip-color: #3fb618;
  --callout-caution-color: #f0ad4e;
  --callout-warning-color: #ff6a00;
  --callout-important-color: #FF0000;
}

/*-- scss:rules --*/

html {
  scrollbar-color: var(--primary) var(--primary-back);
  scrollbar-width: thin;
}

.cb1, .cb2, .nb {
  font-weight: bold;
}

.cb1 {
  color: var(--primary);
}

.cb2 {
  color: var(--secondary);
}

.nb {
  color: color-mix(in srgb, var(--neutral), white 30%);
}

.nc, .str, .dig {
  background-color: var(--em-background-color);
  font-family: $font-family-monospace;
  font-size: 0.9rem;
}

.nc {
  color: var(--neutral);
}

.str {
  color: #20794D;
}

.dig {
  color: #AD0000;
}

.sm-em {
  font-style: italic;
}

.nav-tabs {
  margin-top: 2rem;
}

.tab-content {
  background-color: #FFFFFF;
  margin-bottom: 2rem;
}

#title-block-header {
  background-color: var(--primary-back);
  border-radius: 12px;
  padding: 1.5rem 2rem;
  .title {
    margin-top: 0.5rem;
    border-bottom: none;
    color: var(--primary);
  }
  .subtitle {
    font-size: 24px;
    color: var(--primary-dark);
  }
  .quarto-title-meta-heading,
  .block-title {
    color: var(--primary);
  }
}

#quarto-margin-sidebar {
  text-align: left;
  padding-left: 1.5rem;
  background-color: var(--primary-back);
  #toc-title {
    // font-size: 1.1rem;
    // margin-bottom: 0.5rem;
    display: none;
  }
  .toc-active {
    > ul a {
      border-left: 2px solid #fff;
      padding-bottom: 0.3rem;
    }
    :is(ul > li, ul > li > ul > li) > a.active {
      // font-weight: bold;
      border-left: 2px solid var(--primary);
    }
  }
}

.header-section-number {
  color: var(--primary-dark);
  font-weight: 700;
}

// h1, h2, h3 {
//   color: var(--primary);
// }

h2, h3, h4, h5 {
  margin-top: 1.5em;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  border-bottom: 2px solid var(--line-color);
  padding-bottom: 0.3rem;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
}

h4 {
  margin-left: 2rem;
  font-size: 1.1rem;
}

h5 {
  margin-top: 1.5em;
  margin-left: 2.5rem;
  font-size: 1rem;
}

.figure-img {
  margin-bottom: 0.8rem;
}

.quarto-float {
  &-caption {
    font-size: 0.95rem;
    font-weight: bold;
    line-height: 1.5;
    color: #111;
  }
  &-subcaption {
    font-weight: normal;
    font-size: 0.85rem;
    color: var(--neutral);
  }
  &-fig {
    padding-bottom: 1em;
  }
  &-tbl {
    margin-top: 2rem;
    text-align: center;
  }
}

div.csl-right-inline {
  padding-left: 0;
  padding-bottom: 0.5em;
}

// CODE ------------------------------------------------------------------------

div.sourceCode {
  background-color: var(--code-background-color) !important;
  color: var(--code-foreground-color);
  border-top: 1px solid var(--code-background-color);
  border-radius: 12px;
  padding: 1em;
  margin: 1em 0;
  font-weight: bold;
  line-height: 1.4;
  ::selection {
    background-color: var(--code-comment-color);
    color: var(--code-foreground-color);
  }
}

code {
  color: var(--primary);
  span {
    .va {
      color: var(--code-foreground-color);
    }
    .dv, .fl {
      color: #ff7869;
    }
    .cn {
      color: #ffbc6a;
      font-weight: bold;
    }
    .st, .ss {
      color: #c5ff93;
    }
    .op, .ot, .sc {
      color: #a2fff6;
      font-weight: normal;
    }
    .kw, .cf, .im {
      color: #d08aff;
      font-weight: bold;
    }
    .fu, .bu {
      color: #90E1FF;
    }
    .co, .do {
      font-style: normal !important;
      color: var(--code-comment-color);
    }
    .at {
      color: var(--code-foreground-color);
    }
  }
}

.code-copy-button {
  margin: 1rem;
  border-radius: 5px;
  background-color: var(--code-background-color);
  &:hover {
    background-color: var(--code-comment-color);
  }
}

pre {
  > code.sourceCode {
    > span {
      background-color: var(--code-background-color);
      color: var(--code-foreground-color);
      > a {
        color: var(--code-comment-color);
      }
    }
  }
  code:not(.sourceCode) {
    background-color: var(--code-background-color);
    color: var(--code-comment-color);
    padding : 1rem;
  }
}

body div[data-code-filename] {
  summary {
    width: fit-content;
    font-weight: bold;
    color: var(--code-comment-color);
    background-color: color-mix(in srgb, currentColor, white 95%);
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid currentColor;
  }
  details {
    &[open] summary {
      border: 0;
      background-color: var(--code-comment-color);
      color: var(--code-foreground-color);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    div.sourceCode {
      border: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

// .gslide-title {
//   text-decoration: none;
// }

// CALLOUT ---------------------------------------------------------------------

.callout {
  border-radius: 5px;
  .callout-title-container {
    font-size: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
    padding-right: 1.3rem;
  }
  .callout-body {
    padding-right: 1.3rem;
  }
}

.callout:not(.no-icon).callout-titled.callout-style-simple .callout-body {
  padding-left: 1.75rem;
}

.callout.callout-style-simple {
  .callout-icon::before,
  .callout-toggle::before {
    height: 1.2rem;
    width: 1.2rem;
    background-size: 1.2rem;
    margin-top: 0.3rem;
  }
}

div.callout.callout-note {
  border: 2px solid color-mix(in srgb, var(--callout-note-color), white 40%);
  border-left: 5px solid var(--callout-note-color);
  background-color: color-mix(in srgb, var(--callout-note-color), white 97%);
  .callout-header {
    color: var(--callout-note-color);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-note-color), black 20%);
  }
}

div.callout.callout-important {
  border: 2px solid color-mix(in srgb, var(--callout-important-color), white 30%);
  border-left: 5px solid var(--callout-important-color);
  background-color: color-mix(in srgb, var(--callout-important-color), white 97%);
  .callout-header {
    color: var(--callout-important-color);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-important-color), black 10%);
  }
}

div.callout.callout-tip {
  border: 2px solid color-mix(in srgb, var(--callout-tip-color), white 60%);
  border-left: 5px solid var(--callout-tip-color);
  background-color: color-mix(in srgb, var(--callout-tip-color), white 97%);
  .callout-header {
    color: var(--callout-tip-color);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-tip-color), black 10%);
  }
}

div.callout.callout-caution {
  border: 2px solid color-mix(in srgb, var(--callout-caution-color), white 25%);
  border-left: 5px solid var(--callout-caution-color);
  background-color: color-mix(in srgb, var(--callout-caution-color), white 97%);
  .callout-header {
    color: color-mix(in srgb, var(--callout-caution-color), black 10%);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-caution-color), black 30%);
  }
}

div.callout.callout-warning {
  border: 2px solid color-mix(in srgb, var(--callout-warning-color), white 25%);
  border-left: 5px solid var(--callout-warning-color);
  background-color: color-mix(in srgb, var(--callout-warning-color), white 97%);
  .callout-header {
    color: var(--callout-warning-color);
  }
  .callout-body {
    color: color-mix(in srgb, var(--callout-warning-color), black 10%);
  }
}
